.quoteCard{
            background-color: #f9f9f9;
            border-radius: 8px;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.quoteTag{
     font-size: 0.9em;
    color: #555;
    font-style: italic;

}

.quoteAuthor{
    font-size: 0.9em;
    color: #555;
    font-style: italic;

}