.QuoteCard{
  background-color: maroon;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px pink;
}

.QuoteTag{
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  font-weight: italic;


}

.QuoteAuthor{
  font-size: 20px;
  font-weight: bold;
  color: blue;

}